main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    min-height: calc(100vh - 200px);
    background-image: url(/images/pozadina.png);
    background-size: cover;
    background-position: center;
}